.badge {
	display: inline-block;
	margin-top: -2px;
	padding: 2px 5px;
	vertical-align: middle;
	color: #fff;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #00a8e6;
	font-size: 10px;
	font-weight: 700;
	line-height: 14px;
	text-align: center;
}
a.badge:hover {
	color: #fff;
}
.badge-notification {
	min-width: 22px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.badge-success {
	background-color: #8cc14c;
}
.badge-warning {
	background-color: #faa732;
}
.badge-danger {
	background-color: #da314b;
}
