.switch {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 75px;
	height: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: 350ms ease-in-out;
	-moz-transition: 350ms ease-in-out;
	transition: 350ms ease-in-out;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #00a8e6;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.switch input[type=checkbox] {
	position: absolute;
	overflow: hidden;
	clip: rect(0,0,0,0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.switch-container {
	position: relative;
	left: 0;
	width: 120px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 350ms ease-in-out;
	-moz-transition: 350ms ease-in-out;
	transition: 350ms ease-in-out;
}
.switch-container > * {
	display: inline-block;
	vertical-align: top;
}
.switch-label {
	width: 24px;
	height: 24px;
	margin: 3px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.switch-handle {
	width: 45px;
	height: 30px;
	padding: 4px;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
}
.switch.off {
	background-color: #777;
}
.switch.off .switch-container {
	left: -45px;
}
